<head>
    <title>Expert Nutri</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/cssMedia/Home/mediaCadastroPessoa.css" rel="stylesheet" />

    <script src="~/Scripts/Validacoes.js"></script>
    <script src="~/Scripts/ScriptsMensagens.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
</head>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Specter_System.Models.Entitys.Pessoa
<div>
    @{
        using (Html.BeginForm("CadastrarPessoa", "Home", null, FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="cadastroPessoa">
                <div class="form-group row justify-content-md-center" style="padding-top: 2%">
                    <label class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Nome, new {@class = "form-control", @placeholder = "Digite o nome completo", @required = "required" })
                    </div>
                </div>
                <div class="form-group row justify-content-md-center">
                    <label class="col-sm-2 col-form-label">CPF</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.CPF, new { @class = "form-control",
                                                                   @required = "required",
                                                                   id = "cpf",
                                                                   @onkeydown ="javascript: fMasc( this, mCPF )",
                                                                   @Onblur = "javascript: ValidarCpf(this)",
                                                                   @placeholder="000.000.000-00"
                                                                 })
                    </div>
                </div>
                <div class="form-group row justify-content-md-center">
                    <label class="col-sm-2 col-form-label">Data de Nascimento</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Nascimento, new { @class = "form-control", @type = "date" })
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-sm-2 col-form-label">Profissão</label>
                    <div class="col-sm-4">
                        <select class="dropdown" name="profissao">
                            <option class="btn btn-secondary dropdown-toggle"
                                    role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    value="[Selecione]">
                                [Selecione]
                            </option>
                            <option class="btn btn-secondary dropdown-toggle"
                                    role="button"
                                    id="dropdownMenuLink"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    value="ESTUDANTE">
                                ESTUDANTE
                            </option>
                            <option class="btn btn-secondary dropdown-toggle"
                                    role="button"
                                    id="dropdownMenuLink"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    value="NUTRICIONISTA">
                                NUTRICIONISTA
                            </option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group row justify-content-md-center" , style="padding-left:15%">
                    <button type="submit" class="btn btn-primary"
                            name="action:CadastrarPessoa"
                            style="background:#002060;">
                            CADASTRAR
                      </button>
                </div>
            </div>

            if (!string.IsNullOrWhiteSpace(ViewBag.Resposta))
                {
                    <script>RealizarCadastroPessoa('@ViewBag.Resposta');</script>
                }
        }
    }

</div>
