<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styleHome.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/cssMedia/Home/mediaLogin.css" rel="stylesheet" />

    <script src="~/Scripts/ScriptsMensagens.js"></script>

    <meta charset="utf-8" />
</head>

@model Specter_System.Models.Entitys.Usuario

<nav style="background-color:#002060">
    <ul class="menu1" >
        <li><a href="~/Home/Login" style="color:white">LOGIN</a></li>
        <li><a href="~/Home/CadastrarPessoa" style="color:white">CADASTRE-SE</a></li>
    </ul>
    <nav class="menu2" style="background-color: #E0FFFF">
        <ul class="">
            <li><a><img src="~/Models/imagens/icones/logoMarca.png" /></a></li>
            <li><a class="menu2-item" href="~/Home/Index" style="color:black">INÍCIO</a></li>
            <li><a class="menu2-item" href="#" style="color:black">EVENTOS</a></li>
            <li><a class="menu2-item" href="~/Home/Sobre" style="color:black">SOBRE</a></li>
        </ul>
       
    </nav>
</nav>

<div class="divLogin">
    @{
        using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset style="border-radius:65px; width:60%; background-color: #002060; height:405px;">
                <div class="form-group justify-content-center" style="padding-left:40%; padding-top: 2%">
                    <img src="~/Models/imagens/icones/Boneco Login.png" width="80" height="80" />
                </div>
                <div class="form-group justify-content-center divEmail">
                    <label class="col-form-label" style="color:white">Seu E-mail</label>
                    <div class="form-group justify-content-center">
                        <input type="text" id="Email" name="Email" class="form-control" placeholder="Informe seu e-mail de cadastro" required="required" />
                        <div class="form-group row" style="color:white; padding-left:4%">
                            @Html.ActionLink("Esqueceu o e-mail?", "RecuperarEmail")
                        </div>
                    </div>
                </div>
                <div class="form-group justify-content-center divSenha">
                    <label class="col-form-label" style="color:white;" >Senha</label>
                    <div class="form-group justify-content-center">
                        <input type="password" id="Senha" name="Senha" class="form-control" placeholder="Informe sua senha" required />
                        <div class="form-group row" style="color:white; padding-left:4%">
                            @Html.ActionLink("Esqueceu a senha?", "RecuperarSenha", new { @style = "color: White;" })
                        </div>
                    </div>
                    <div class="buttonLogin">
                        <input type="submit" class="btn btn-primary btn-lg" name="action:Login" value="ENTRAR" style="background-color:#E0FFFF; color:black" />
                    </div>

                </div>
            </fieldset>

            if (ViewBag.Validacao != null)
            {
                <script type="text/javascript">
                       ValidarLogin('@ViewBag.Validacao')
                </script>
            }
        }

    }

</div>

